*{ margin: 0; padding: 0; }

#wrap{ display: flex; }

#layer-box{
    width: 20%;
    min-height: 200px;
    max-height: 375px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    border: 1px solid #333;
    background: #333;
    overflow-y: scroll;
    padding-top: 10px;
}
#layer-box::-webkit-scrollbar{ display: none; }
.layer{
    width: 90%;
    height: 150px;
    margin: auto;
    border: 1px solid white;
    background: white;
}
.layer > img{
    width: 100%;
    height: 100%;
}