*{ margin: 0; padding: 0; }

#wrap{
    display: grid;
    grid-template-columns: 50% 50%;
}

#layer-box{
    width: 50%;
    min-height: 200px;
    max-height: 375px;
    border: 1px solid #333;
    background: #333;
    overflow-y: scroll;
    margin: 10px;
    position: relative;
}
#layer-box::-webkit-scrollbar{ display: none; }

.layer{
    width: 90%;
    height: 80px;
    margin: 10px auto;
    border: 1px solid white;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
    background: #333;
    user-select: none;;
}
.layer > img{
    width: 100px;
    height: 100%;
    border: 1px solid white;;
    background: white;
}
.layer > p{ margin-right: 5%; }

.focus-layer{ background: #707c92; }