*{ margin: 0; padding: 0; }

#wrap{
    display: grid;
    grid-template-columns: 50% 50%;
}

#layer-box{
    width: 50%;
    min-height: 250px;
    max-height: 315px;
    border: 1px solid #333;
    background: #535353;
    overflow-y: scroll;
    margin: 10px;
    position: relative;
}

#layer-box::-webkit-scrollbar {
    width: 20px;
    background: #333;
}
#layer-box::-webkit-scrollbar-track{
    background: #4a4a4a;
}
#layer-box::-webkit-scrollbar-thumb{
    background: #6b6b6b;
    border: 3px solid transparent;
    background-clip: content-box;
}

.layer{
    width: 90%;
    height: 80px;
    margin: 10px auto;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
    background: #535353;
    user-select: none;;
    border: 1px solid #454545;
}
.layer > img{
    width: 100px;
    height: 100%;
    border: 1px solid white;;
    background: white;
}
.layer > p{ margin-right: 5%; }

.focus-layer{ background: #6b6b6b; }